@inject NavigationManager Nav
@page "/"
<h1>Brawo to prawidłowa odpowiedź</h1>
<div style="display: flex">
<div style="padding-top:50px">
    <button type="button" class="btn btn-primary" @onclick="() => AddBook()">Dodaj książkę</button>
</div>
<div style="padding-left: 10px; padding-top: 50px">
    <button type="button" class="btn btn-primary" @onclick="() => DeleteBook()">Usuń książkę</button>
</div>
</div>
@code {
    private void AddBook()
    {
        Nav.NavigateTo("/addbooks");
    }

    private void DeleteBook()
    {
        Nav.NavigateTo("/deletebooks");
    }
}