@page "/"
<h1>Witaj w swoim archiwum</h1>
<div style="display: flex; flex-direction: column; align-items: center; margin-top: 20px;">
    <button class="btn btn-primary" @onclick="NavigateToReadBooks">Przeczytane książki</button>
    <button class="btn btn-secondary" @onclick="NavigateToToReadBooks" style="margin-top: 10px;">Książki do przeczytania</button>
</div>

@code {
    [Inject] private NavigationManager Nav { get; set; }

    private void NavigateToReadBooks()
    {
        Nav.NavigateTo("/readbooks");
    }

    private void NavigateToToReadBooks()
    {
        Nav.NavigateTo("/toreadbooks");
    }
}